<h1>All your restaurants!</h1>
<% @restaurants.each do |restaurant| %>
<h3>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> </h3>
<p>Address: <%= restaurant.address %></p>
<p>Phone Number: <%= restaurant.phone_number %></p>
<p>Category: <%= restaurant.category %></p>
  <% @reviews.each do |review| %>
    <p>review:</p>
    <p>content: <%= review.content %></p>
    <p>rating: <%= review.rating %></p>
    <% end %>
<% end %>
<%= link_to 'add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
