
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<% @reviews.each do |review| %>
  <p>review:</p>
  <p>content: <%= review.content %></p>
  <p>rating: <%= review.rating %></p>
  <% end %>
<%= link_to 'back to restaurants list', restaurants_path, class: "btn btn-primary" %>
<%= link_to 'add a review to this restaurant', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
