
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<% @reviews.each do |review| %>
  <p>review:</p>
  <p>content: <%= review.content %></p>
  <p>rating: <%= review.rating %></p>
  <% end %>
<%= link_to 'back to restaurants list', restaurants_path, class: "btn btn-primary" %>

<h1>Add a review</h1>
<div class="container">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, placeholder: 'content', label: 'content', error: 'Content is mandatory, please specify one' %>
    <%= f.input :rating, collection: 0..5, placeholder: 'rating', hint: 'Enter integers', error: 'Rating is mandatory, please specify one' %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>

